.popup-overlay {
  position:fixed;
  top:0;left:0;right:0;bottom:0;
  background:rgba(0,0,0,0.4);
  z-index:9998;
}
.popup-window {
  position:absolute;
  top:4%;left:4%;right:4%;bottom:4%;
  background:rgba(0,0,0,0.6);
  color:#ccc;
  padding:10px;
  border:1px solid #808080;
  box-sizing:border-box;
}
.popup-content {
  position:absolute;
  top:10px;left:10px;right:10px;bottom:50px;
  overflow:auto;
}
.popup-buttons {
  position:absolute;
  left:10px;
  right:10px;
  bottom:10px;
}
.popup-close{width:100%;}
.popup-content label{font-size:12px;}
